/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 800px;
  margin: auto;
}

.topbar {
  background-color: white;
  width: 100%;
  height: 110px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.logo {
  width: 15%;
  height: auto;
}

ul {
  text-transform: uppercase;
  color: grey;
  margin-top: 15px;
}

li {
  display: inline;
  margin-right: 8px;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 4px #ffc5f7f1;
}

a:active {
  text-decoration: none;
}

.jumbotron {
  background-color: white;
  width: 100%;
  height: 380px;
  margin-bottom: 2%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.overlay {
  background: rgba(114, 116, 115, 0.301);
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;
}

.front-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  height: 20%;
  font-size: 10px;
  position: relative;
  top: 60%;
  left: 5%;
}

.main {
  background-color: white;
  width: 100%;
  height: 500px;
  margin-bottom: 2%;
}

.header {
  background-color: white;
  width: 100%;
  height: 15%;
}

.row {
  height: 82%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.column {
  background-color: white;
  height: 100%;
  float: left;
}

.left,
.right {
  width: 23%;
}

.middle {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.header-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  height: 20%;
  font-size: 12px;
  position: relative;
  color: black;
  left: 10px;
  top: 20%;
}

.main-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  height: 20%;
  font-size: 13px;
  color: grey;
}

.left-img {
  background-color: white;
  width: 100%;
  height: 180px;
  margin-bottom: 2%;
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.mid-img {
  background-color: white;
  width: 100%;
  height: 180px;
  margin-bottom: 2%;
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.right-img {
  background-color: white;
  width: 100%;
  height: 180px;
  margin-bottom: 2%;
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.header-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  height: 20%;
  font-size: 15px;
  position: relative;
  color: black;
  left: 10px;
  top: 20%;
}

.column-head {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80%;
  font-size: 13px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 15px;
}

.column-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 13px;
  color: grey;
}

.footer {
  background-color: white;
  width: 100%;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 5%;
}

.footer-text {
  text-align: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#heart {
  color: red;
}
